<template>
  <button class="btn" type="button" @click="$emit('click')">
    <slot></slot>
  </button>
</template>

<script>
export default {
  name: 'Button',
}
</script>

<style lang="scss" scoped>
.btn {
  background: #fff;
  border: 1px solid #a1a1a1;
  padding: 5px 25px;
  cursor: pointer;
}
</style>
