<template>
  <h1 class="board-title">
    {{ boardTitle }}
  </h1>
  <div class="board">
    <Player
      name="Player 1"
      :card-number="player1.cardNumber"
      :card-type="player1.cardType"
    />
    <Deck
      @picked="updatePlayerCard"
    />
    <Player
      name="Player 2"
      :card-number="player2.cardNumber"
      :card-type="player2.cardType"
    />
    <Teleport to="body">
      <GameEnd
        v-if="showGameEnd"
        :winner="winner"
        @restart="reset"
      />
    </Teleport>
  </div>
</template>

<script>
import Deck from '@components/Deck'
import Player from '@components/Player'
import GameEnd from '@components/GameEnd'
import { types, numbers } from '@constances/card'

export default {
  name: 'Board',
  components: {
    Deck,
    Player,
    GameEnd,
  },
  watch: {
    rounds(round) {
      if (round >= 2) {
        this.showGameEnd = true
      }
    },
  },
  computed: {
    boardTitle() {
      return `Player ${this.playerTurn ? '1' : '2'} please draw a card`
    },
    winner() {
      const p1_typeIndex = types.findIndex(type => type === this.player1.cardType)
      const p2_typeIndex = types.findIndex(type => type === this.player2.cardType)

      if (p1_typeIndex === p2_typeIndex) {
        const p1_numIndex = numbers.findIndex(num => num === this.player1.cardNumber)
        const p2_numIndex = numbers.findIndex(num => num === this.player2.cardNumber)

        if (p1_numIndex === p2_numIndex) {
          return 'It`s a tie!'
        }

        if (p1_numIndex > p2_numIndex) {
          return 'Player 1 wins!'
        }

        return 'Player 2 wins!'
      }

      if (p1_typeIndex > p2_typeIndex) {
        return 'Player 1 wins!'
      }

      return 'Player 2 wins!'
    },
  },
  data() {
    return {
      showGameEnd: false,
      rounds: 0,
      playerTurn: true,
      player1: {
        cardType: '',
        cardNumber: '',
      },
      player2: {
        cardType: '',
        cardNumber: '',
      },
    }
  },
  methods: {
    updatePlayerCard({ num, type }) {
      if (this.playerTurn) {
        this.player1.cardType = type
        this.player1.cardNumber = num
      } else {
        this.player2.cardType = type
        this.player2.cardNumber = num
      }
      this.playerTurn = !this.playerTurn
      this.rounds++
    },
    reset() {
      this.rounds = 0
      this.playerTurn = true
      this.player1 = {
        cardType: '',
        cardNumber: '',
      }
      this.player2 = {
        cardType: '',
        cardNumber: '',
      }
      this.emitter.emit("resetDeck")
      this.showGameEnd = false
    },
  },
}
</script>

<style lang="scss" scoped>
.board-title {
  text-align: center;
}

.board {
  height: 500px;
  display: flex;
  justify-content: space-between;
}
</style>
