<template>
  <div class="card">
    <img :src="imagePath" :alt="imageName" />
  </div>
</template>

<script>
import { types, numbers } from '@constances/card'

export default {
  name: 'Card',
  props: {
    cardType: {
      type: String,
      default: 'clubs',
      validator: function (value) {
        return types.includes(value)
      },
    },
    cardNumber: {
      type: String,
      default: '2',
      validator: function (value) {
        return numbers.includes(value)
      },
    },
  },
  computed: {
    imageName() {
      return `${this.cardType}_${this.cardNumber}`
    },
    imagePath() {
      return `/cards/${this.imageName}.svg`
    },
  },
}
</script>

<style lang="scss" scoped>
.card {
  display: inline-block;
}
</style>
