<template>
  <div>
    <div class="deck">
      <Card
        class="card"
        v-for="(card, index) in cardShown"
        :key="'card_' + card.type + '_' + card.num"
        :card-type="card.type"
        :card-number="card.num"
        :style="{
          left: index * 25 + 'px'
        }"
      />
    </div>
    <Button class="pick-btn" @click="shuffle">Shuffle</Button>
  </div>
</template>

<script>
import Card from '@components/Card'
import Button from '@components/Button'
import {types, numbers} from '@constances/card'

export default {
  name: 'Deck',
  components: {
    Card,
    Button,
  },
  created() {
    this.init()
    this.emitter.on('resetDeck', this.reset)
  },
  computed: {
    cardShown() {
      return [
        this.cards[(this.nextCount + 4) % this.cardTotal],
        this.cards[(this.nextCount + 3) % this.cardTotal],
        this.cards[(this.nextCount + 2) % this.cardTotal],
        this.cards[(this.nextCount + 1) % this.cardTotal],
        this.cards[this.nextCount % this.cardTotal],
      ]
    }
  },
  data() {
    return {
      allCardTypes: types,
      allCardNumbers: numbers,
      cards: [],
      cardTotal: 0,
      nextCount: 0,
      pick: 0,
      interval: null,
    }
  },
  methods: {
    reset() {
      this.nextCount = 0
      this.pick = 0
      clearInterval(this.interval)
    },
    // Arrange all the card combinations into an array
    init() {
      this.allCardTypes.forEach(cardType => {
        this.allCardNumbers.forEach(carNum => {
          this.cards.push({
            type: cardType,
            num: carNum,
          })
        })
      })
      this.cardTotal = this.cards.length
    },
    // Scrolls the card deck
    nextCard() {
      this.nextCount++
    },
    // Scroll to a random card in the deck
    shuffle() {
      this.pick = this.getRandomInt(0, this.cardTotal - 1)
      this.startShuffleAnimation()
    },
    startShuffleAnimation() {
      clearInterval(this.interval)
      this.interval = setInterval(() => {
        if ((this.nextCount % this.cardTotal) === this.pick) {
          clearInterval(this.interval)
          this.$emit('picked', { ...this.cards[this.pick] })
          return
        }
        this.nextCard()
      }, 100)
    },
    getRandomInt(min, max) {
      min = Math.ceil(min)
      max = Math.floor(max)
      return Math.floor(Math.random() * (max - min + 1)) + min
    },
  },
}
</script>

<style lang="scss" scoped>
$card-gap: 10px;

.deck {
  width: 315px;
  height: 333px;
  position: relative;
  margin: 0 auto;
}

.card {
  position: absolute;
  left: 0;
  top: 0;
  transition: all 100ms ease-in-out;
}

.pick-btn {
  clear: both;
  margin-top: 25px;
}
</style>
