<template>
  <div class="modal">
    <div class="title">
      <h1>{{ winner }}</h1>
      <Button @click="$emit('restart')">Restart Game</Button>
    </div>
  </div>
</template>

<script>
import Button from '@components/Button'

export default {
  name: 'GameEnd',
  components: {
    Button,
  },
  props: {
    winner: {
      type: String,
      default: '',
    },
  },
}
</script>

<style lang="scss" scoped>
.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
}

.title {
  color: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
</style>
