<template>
  <div class="player">
    <img v-if="cardType && cardNumber" :src="imagePath" class="player-card" />
    <div class="name">{{ name }}</div>
  </div>
</template>

<script>
import { types, numbers } from '@constances/card'

export default {
  name: 'Player',
  props: {
    name: {
      type: String,
      default: '',
    },
    cardType: {
      type: String,
      default: '',
      validator: function (value) {
        if (value === '') return true
        return types.includes(value)
      },
    },
    cardNumber: {
      type: String,
      default: '',
      validator: function (value) {
        if (value === '') return true
        return numbers.includes(value)
      },
    },
  },
  computed: {
    imageName() {
      return `${this.cardType}_${this.cardNumber}`
    },
    imagePath() {
      return `/cards/${this.imageName}.svg`
    },
  },
}
</script>

<style lang="scss" scoped>
.player {
  display: inline-block;
  width: 234px;
}
</style>
